
@{
    ViewData["Title"] = "Create";
}
<environment names="Development">
    <link rel="stylesheet" href="~/css/MyCss.css" />
</environment>

<div class="box-form">
    <h2 style="margin-bottom:20px;">Create</h2>
    <form action="store" method="post">
        <div class="form-group">
            <input type="text" required id="Name" name="Name" value="" class="input-cus" />
            <label for="Name">Name</label>
        </div>
        <div class="form-group">
            <input type="text" required id="RollNumber" name="RollNumber" value="" class="input-cus" />
            <label for="RollNumber">RollNumber</label>
        </div>
        <div class="form-group">
            <input type="text" required id="Avatar" name="Avatar" value="" class="input-cus" />
            <label for="Avatar">Avatar</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success">Create</button>
            <button type="reset" class="btn btn-outline-default">Reset</button>
        </div>
    </form>
</div>

